body {
  font-family: helvetica, sans-serif;
  margin-left:50px;

}

h1 {
  font-size:200%;

  margin-bottom:4px;
  margin-top:4px;
}

h5 {

  margin-bottom:7px;
  margin-top:4px;
}

.emp-history{
  display:inline-block;
  width:150px;
  margin:10px;
}

