
body {
  font-family: arial, sans-serif;
  margin-left:50px;
  margin-right:50px;
  background-image:url(TexturedBackground.jpg);
  width:1040px;
}

.title {
  float:left;
  height:300px;
  width:240px;
  margin-right:50px;
}

h1 {
  font-size:300%;
  margin-bottom:0px;
  margin-top:4px;
  width:400px;
}

.address {
  line-height:0px;
  margin-top:-10px;
}

h5 {
  font-size:100%;
}

.linkedin:link {
  background-color:blue;
  color:white;
  padding:10px 20px;
  border-radius:8px;
  line-height:20px;
  border:2px solid slategray;
  text-decoration:none;
  transition-duration:.3s;
}

.linkedin:visited {
  background-color:lightslategray;
  color:black;
  border:2ps darkslategray;
}

.linkedin:hover {
  background-color:white;
  color:blue;
  border:2px solid darkslategray;
  box-shadow:0 12px 16px 0 rgba(0,0,0,0.22), 0 10px 20px 0 rgba(0,0,0,0.18);
}

.linkedin:active {
  background-color:yellow;
  color:red;
  border:2px solid red;
}

.about-me {
  font-family:georgia, serif;
  padding-top:100px;
  font-size:140%;
  text-align:justify;
  text-justify:inter-word;
  width:310px;
  margin-left:-45px;
}

.picture {
  height:275px;
  width:340px;
  padding-left:40px;
}

br {
  clear:left;
}

hr {
  margin-right:80px;
}

h2 {
  font-size:200%;
}

.employment {
  display:inline-block;
  margin:10px;
  vertical-align:top;
}

.emp-dates {
  width:90px;
  font-size:110%;
}

.emp-desc{
  width:800px;
  text-align:justify;
  text-justify:inter-word;
}

.employer {
  font-size:110%;
}

.location {
  margin-top:0px;
}

h4 {
  margin:0;
}

ul {
  list-style-type:circle;
  margin-left:-20px;
  line-height:20px;
}

table, th, tr, td {
  padding-top:25px;
  padding-right:30px;
  border-collapse:collapse;
}

th {
  text-align:left;
}

.vol-link:link {
  color:blue
  transition-duration:.2s;
}

.vol-link:visted {
  color:slategray;
}

.vol-link:hover {
  color:red;
}

.vol-link:active {
  color:orange;
}

.logo {
  padding:5px;
  border:1px solid slategray;
  height:40px;
  width:80px;
}

.role  {
  text-align:justify;
  text-justify:inter-word;
  line-height:20px;
  width:560px;
}

.lumbergh {
  height:270px;
  width:360px;
  border:1px solid black;
}




